/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #FFFFFF;
    background-alt: #282B31FF;
    foreground:     #282B31;
    selected:       #282B31;
    active:         #FFFFFF;
    urgent:         #FFFFFF;
}
